* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    font-family:
        -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.breadcrumbs-flex {
    flex-grow: 1;
}

/* Settings panel styles */
.settings-panel {
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
}

/* Editor Tabs */
div.editor-tab-list {
    padding: 0 8px;
    border-bottom: 1px solid var(--g-color-line-generic);
    box-shadow: none;
}
